@font-face {
  -fx-font-family: "noyhr-regular";
  src: url("../../../../../../font/NoyhR-Regular.ttf");
}

@font-face {
  -fx-font-family: "plain-germanica";
  src: url("../../../../../../font/Plain-Germanica.ttf");
}

.outer-border {
  -fx-border-color: #422917;
  -fx-border-width: 2px;
  -fx-border-radius: 14px;
  -fx-background-radius: 8px;
  -fx-background-color: rgba(0, 0, 0, 0);
}

.window-border {
  -fx-border-width: 6px;
  -fx-border-radius: 12px;
  -fx-border-color: #b4a31f;
  -fx-background-color: rgba(0, 0, 0, 0);
  -fx-background-radius: 12;
}

.inner-border {
  -fx-border-color: #422917;
  -fx-border-width: 2px;
  -fx-border-radius: 8px;
  -fx-background-radius: 8px;
  -fx-background-color: rgba(0, 0, 0, 0);
}

.window {
  -fx-background-color: #ede4bc;
  -fx-background-radius: 8px;
  -fx-background-image: url("../../pictures/background.png");
  -fx-background-size: 25px;
  -fx-background-repeat: repeat;
}

.container {
  -fx-background-color: rgba(255, 255, 255, 0.6);
  -fx-border-color: #b4a31f;
  -fx-border-width: 1px;
  -fx-border-radius: 8px;
  -fx-background-radius: 8px;
  -fx-padding: 10px;
  -fx-font-family: "Noyh R Light";
  -fx-font-size: 1.4em;
}

.button {
  -fx-background-color: #b4a31f;
  -fx-border-color: #b4a31f;
  -fx-border-width: 1px;
  -fx-border-radius: 8px;
  -fx-background-radius: 8px;
  -fx-text-fill: #ede4bc;
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-padding: 10px;
}

.input {
  -fx-border-radius: 8px;
  -background-color: #ede4bc;
  -fx-border-color: b4a31f;
  -fx-border-width: 1px;
  -fx-background-color: #ede4bc;
  -fx-background-radius: 16px;
  -fx-padding: 10px;
}

.button:focused {
  -fx-background-color: #ede4bc;
  -fx-text-fill: #97881a;
}

.label {
  -fx-padding: 10px;
  -fx-border-radius: 12px;
}

.title {
  -fx-font-family: ShadowedGermanica;
  -fx-font-size: 24px;
  -fx-underline: true;
  -fx-padding: 10px;
}

.choice-box {
  -fx-background-color: #ede4bc;
  -fx-border-color: #b4a31f;
  -fx-border-width: 1px;
  -fx-border-radius: 8px;
  -fx-background-radius: 8px;
  -fx-font-size: 16px;
}

.text-field {
  -fx-background-color: #ede4bc;
  -fx-border-color: #b4a31f;
  -fx-border-width: 1px;
  -fx-border-radius: 8px;
  -fx-background-radius: 8px;
  -fx-padding: 10px;
  -fx-font-size: 16px;
}

.chat-message-container {
  -fx-background-color: #ede4bc;
  -fx-border-color: #b4a31f;
  -fx-opacity: 0.8;
  -fx-border-width: 1px;
  -fx-border-radius: 8px;
  -fx-background-radius: 8px;
  -fx-padding: 10px;
}

.chat-message {
  -fx-background-color: #ede4bc;
  -fx-border-color: #b4a31f;
  -fx-opacity: 0.8;
  -fx-border-width: 1px;
  -fx-border-radius: 8px;
  -fx-background-radius: 8px;
  -fx-padding: 10px;
}

.chat-message-sender {
  -fx-font-size: 16px;
  -fx-font-family: "Noyh R Light";
  -fx-font-weight: 900;
}

.bordered {
  -fx-border-color: #b4a31f;
  -fx-border-width: 1px;
  -fx-border-radius: 8px;
  -fx-background-radius: 8px;
}

.circle {
  -fx-border-radius: 100%;
}

.notification {
  -fx-border-radius: 12px;
  -fx-background-radius: 16px;
  -fx-border-width: 2px;
}

.error {
  -fx-background-color: #dc3025;
  -fx-border-color: #571011;
}
.error .progress-bar {
  -fx-accent: #571011;
}

.warning {
  -fx-background-color: rgba(255, 94, 0);
  -fx-border-color: rgb(186, 68, 0);
}

.warning .progress-bar {
  -fx-accent: rgb(186, 68, 0);
}

.confirm {
  -fx-background-color: #157f33;
  -fx-border-color: #003d20;
  -fx-font-family: "Noyh R Light";
  -fx-font-size: 1.4em;
}

.confirm .progress-bar {
  -fx-accent: #003d20;
}

.update {
  -fx-background-color: #77c7c8;
  -fx-border-color: #292b82;
}

.update .progress-bar {
  -fx-accent: #292b82;
}

.response {
  -fx-background-color: #01bf86;
  -fx-border-color: #008860;
}

.response .progress-bar {
  -fx-accent: #008860;
}

.notification .label {
  -fx-text-fill: white;
}

.progress-bar {
  -fx-background-color: transparent;
  -fx-border-color: #b4a31f;
  -fx-border-width: 0px;
  -fx-border-radius: 10px;
  -fx-padding: 0px;
  -fx-pref-height: 20px;
  -fx-accent: white;
}

.progress-bar > .track {
  -fx-text-box-border: transparent;
  -fx-control-inner-background: transparent;
  -fx-background-color: transparent;
}
